<section class="card">
  <div class="card-body">
    <h1>Sobre Nosotros </h1>
    <p>
      Equipo de Integradora Conformado y Desarrollado por:
      <ul>
      <li>
        Kevin Leonel Valdez Sanchez
      </li>
      <li>
        Cristian Israel Buclón Pedroza
      </li>
      <li>
        Oscar Arturo Guajardo Robles
      </li>
      <li>
        Alberto Alfonso Ferro Borttolotti
      </li>
      </ul>
      Grupo: GDS0351
      Desarrollo de Software Multiplataforma
    </p>
  </div>
</section>
