<div class="jumbotron mt-4">
  <h1 class="display-4">Aplicacion De Notas</h1>
  <p class="lead">Creacion para la aplicacion de Notas En conjunto con un loggin para que varios usuarios puedan realizar notas sobre tareas y asi la información este de una manera ordenada y recopilada</p>
  <hr class="my-4">
  <p> Pagina Institucional:
  </p>
  <a class="btn btn-primary btn-lg" href="https://www.utng.edu.mx/" role="button">UTNG Web</a>
</div>
