<div class="jumbotron mt-4" id="fondoin">
  <h1 class="display-4">Maps with Google Earth</h1>
  <p class="lead" id="par" >Herramienta ideal para el uso agricola con varias funcionalidades como:
    <ul>
      <li>Medición del area del poligono</li>
      <li>Mapa vegetación</li>
      <li>Mayor control acerca de su espacio y el uso que usted le da</li>
    </ul>
  </p>
 <hr class="my-4">

  
<div class="d-grid gap2">

</div>
</div>
