body {
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #064468); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.logo {
  width: 30%;
}
#logo{
  border-radius: 10px;
  object-fit: cover;
}

h4.card-title{
  color:#012503;
  font-size: 20px;
}

div.card{
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1f5f0e, #00798e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1f5f0e, #00798e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

h6#sub{
  color: #aa9e2e;
  font-size: 16px;
  font-family: Verdana;
}
h5#s2{
  color: #0026ff;
  font-family: Verdana;
}
p#tex{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  color: white;
}
p#tex2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  color: #e056fd;
}
input.form-control::placeholder{
  color: white;
}
input.form-control{
  color: white;
}
textarea.form-control::placeholder{
  color: white;
}
textarea.form-control{
  color: white;
}
h3{
  color:#2bee24
}
input::content{
  color: white;
}
option{
 background-color: #ffa502;
 color:black;
}
h1.h4{
  color:#EE5A24
}
div.card-header{
  color:#EE5A24;
  font-size:18px;
}
p.lead{
  color:white;
}
h1#wel{
  color:white;
}
p#par{
  color:black;
}
.carousel-item{
transition: transform 0.1s ease, opacity 0.5s;
}

