<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Nuevo Mapa</h3>
    </div>
    <div class="card-body">
      <form action="/notes/new-note" method="POST">
        <div class="form-group">
          <input type="text" name="title" style="color: white;" class="form-control" placeholder="Nombre" autofocus/>
        </div>
        <div class="form-group">
          <textarea name="description" style="color: white;" class="form-control" placeholder="Descripción"></textarea>
        </div>

         <div class="form-group">
          <textarea name="comments" style="color: white;" class="form-control" placeholder="Comentarios"></textarea>
        </div>

          <div class="form-group">
          <select name="priority" class="form-control" style="color: white;">
            <option value="Indefinida" selected>Prioridad</option>
            <option value="Baja">Baja</option>
            <option value="Media">Media</option>
            <option value="Alta">Alta</option>
          </select>
          </div>


        <div class="form-group">
          <select name="status" class="form-control" style="color: white;">
            <option value="Indefinido" selected>Estatús</option>
            <option value="Por Realizar">Por Realizar</option>
            <option value="En proceso">En proceso</option>
            <option value="Terminada">Terminada</option>
          </select>
        </div>

        <div class="form-group">
          <input type="url" name="pages" style="color: white;" class="form-control" placeholder="Ligas y Pagínas" />
        </div>

         <div class="form-group">
          <input type="email" name="email" style="color: white;" class="form-control" placeholder="Emails" />
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

